<div class="toolbar" role="banner">
  <span class="logo">plan my meal</span>
  <div class="spacer align-center">
    <input class="search-bar" type="text" placeholder="search" />
    <a aria-label="Search" href="#" title="Search">
      <mat-icon class="color_white large">search</mat-icon>
    </a>
  </div>
 
  <a aria-label="Add new recipe" href="#" title="Add new recipe">
    <mat-icon class="color_white">add_circle_outline</mat-icon>
  </a>
  <a aria-label="Meal plan" href="#" title="Meal plan">
    <mat-icon class="color_white">format_list_bulleted</mat-icon>
  </a>
  <a aria-label="Shopping list" href="#" title="Shopping list">
    <mat-icon class="color_white">shopping_cart</mat-icon>
  </a>
</div>
